{% extends 'Base.html' %}
{% load static %}
{% block main-content %}

<div class="forget-div">
  <div class="forget-form">
    <div class="user-logo"><span> Change Password </span> </div>
    <form class="signup-form " action="{% url 'changepassword' %}" method="post">
      {% csrf_token %}

      <!-- Name input -->


      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form5Example2">Old Password</label>
        <input type="password" id="form5Example2" name="oldpassword" class="form-control" placeholder="old password" />
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form5Example2">New Password</label>
        <input type="password" id="form5Example2" name="newpassword" class="form-control" placeholder="new password" />
      </div>
      <!-- Submit button -->
      <div class="signup-btn">
        <a class="btn btn-danger btn-block mb-4 mx-1" href="{% url 'home' %}" style="background-color: #e28743;">Cancel</a>
        <button type="submit" class="btn btn-primary btn-block mb-4">Change</button>


      </div>

    </form>
  </div>
</div>


{% endblock main-content %}