{% extends 'Base.html' %}
{% load static %}
{% block main-content %}
<div class="forget-div" >
    <div class="forget-form">   
       <div class="user-logo"><span> Forget Your password </span> </div>
   <form class="signup-form">
       <!-- Name input -->
    
     
       <!-- Email input -->
       <div class="form-outline mb-4">
        <label class="form-label" for="form5Example2">Email address</label>
         <input type="email" id="form5Example2" class="form-control" placeholder="xyz@gmail.com" />
       </div>
       <!-- Submit button -->
       <div class="signup-btn">
        <button class="btn btn-danger btn-block mb-4 mx-1 " style="background-color: #e28743;">Cancel</button>
       <button type="submit" class="btn btn-primary btn-block mb-4">forget</button>
      
       
       </div>
   
     </form>
   </div>
   </div>

{% endblock main-content %}