{% extends 'Base.html' %}
{% load static %}


{% block main-content %}


<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end " style="background-color: white;"  id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom  fw-bold" style="background-color: #063970; color: white; border: 1px solid white;"><span style="color: #e28743;">Pro</span>duct</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action  p-3" style="background-color: #063970; color: white;" href="#!">Fashion <span><i style="color: #e28743;" class="fa-solid fa-shirt"></i></span></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 " style="background-color: #063970; color: white;" href="#!"> Mens <span ><i style="color: #e28743;" class="fa-solid fa-person"></i></span></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" style="background-color: #063970; color: white;" href="#!">Women  <span> <i style="color: #e28743;" class="fa-sharp fa-solid fa-person-dress"></i></span></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" style="background-color: #063970; color: white;" href="#!">Furniture <span><i      class="fa-solid fa-couch" style="color: #e28743;"></i></span></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" style="background-color: #063970; color: white;" href="#!">Profile</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" style="background-color: #063970; color: white;" href="{% url 'address' %}">Address</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <!-- <button class="btn btn-primary">Product <span><i class="fa-solid fa-arrow-right-long"></i></span> </button> -->
                <button style="background-color: #063970; border: none;" class="text-white btn btn-outline-dark" id="sidebarToggle">Product<i class="fa-solid fa-arrow-right-long"></i></button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!">Action</a>
                                <a class="dropdown-item" href="{% url 'select-address' %}">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">SProduct</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="row d-flex row-cols-3 g-2">
          {% for product in product %}
          <a href="{% url 'viewproduct' product.id  %}" style="text-decoration: none; color: black;">
            <div class="col">
              <div class="card mb3" style="max-width: 540px;">
                <div class="row g-4">
                  <div class="col-md-4">
                    <img
                      src="{{ product.image1.url  }}"
                      alt="Trendy Pants and Shoes"
                      class="img-fluid rounded-start"
                    />
              
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="font-size: 13px;">{{product.title}}</h5>
                      <p class="card-text" style="font-size: 10px;">
                      {{product.description|slice:":40"}}
                      </p>

                      <p class="card-text">
                        <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
                        <!-- <div style="display: flex;">
                          <button class="btn btn-warning"  style="font-size: 13px; background-color: #e28743;">Add to cart</button>
                          <button class="btn btn-warning" style="font-size: 13px; color: white; background-color: #063970; ">Buy now</button>
                        
    
                        </div> -->
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
            {% endfor %}
            
          </div>



        </div>
    </div>
</div>













{% endblock main-content %}

